<%- include("partials/header.ejs") -%>


<h3 style="border-bottom: 2px solid #ffc93c;padding-bottom: 10px;margin-bottom: 8px;">Welcome, <%= User %>!</h3>
<p style="text-align: justify;display: none;">
    <%= Para %>
</p>

<a href="/logout">
    <button class="btn btn-sm btn-secondary" type="submit" style="position: absolute; top: 26px; left: 290px">Signout</button>
</a>

<div>
    <a href="/compose"><button class="btn btn-sm btn-success" type="submit"><span style="color: white;font-size: 1.5rem;font-weight: bold;">+</span> Add Story</button></a>
    <a href="/myspace"><button class="btn btn-sm btn-success" type="submit">My Space</button></a>
</div>

<br>

<div style="display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 10px">
<% Stories.forEach(function(story){ %>
    <%- include("post_thumbnail.ejs",{story: story}) -%>
<% }); %>
</div>

<br />

<!-- <script>

prompt("Set Username!");

</script> -->

<%- include("partials/footer.ejs") -%>
